[Desktop Entry]
Version=1.0

Name=NeoMutt

Exec=$TERMCMD -T neomutt -e neomutt
Terminal=true

Type=Application
Categories=Utility;Mail;
Keywords=mail;
