[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Win_10
Comment=Starts the VirtualBox machine Win_10
Type=Application
Exec=/usr/lib/virtualbox/VirtualBoxVM --comment "Win_10" --startvm "{e6c1c1b3-4015-4b89-af14-f204933d22d0}"
Icon=virtualbox-vbox.png
